/* Add CSS Styling */

.odd {
  background-color: #ffb6c1;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
  color: blue;
  font-size: 36px;
}

.third-element-font {
  font-size: 24px;
}

#number-four {
  color: #90ee90;
  font-size: 24px;
  font-weight: bold;
}
