/* Add CSS Styling */
.first-button {
  background-color: black;
  color: white;
}

.second-button {
  background-color: yellow;
}

.both-buttons {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}
